.container{
    display: flex;
    justify-content: center;
}
.list-card{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

}
.especialidades{
   width: 200px;
  }
.card-element{
    background-color: #3F51B5;
    width: 280px;
    max-width: 400px;
    height: 180px;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.header-card{
    flex-direction: row;
    justify-content: center;
    margin-left: -25px;
}
.content-card{
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.content-card h4, h6{
    color: #ffffff;
}



.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
