.list-procedimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.mat-button-toggle-group {
    outline: none;
}
  

mat-button-toggle {
    min-width: 200px;
}
.mat-button-toggle-checked {
    background-color: #3F51B5;
    color: white;
 }
 