<br>
<mat-card class="col-12 agendamento">

  <div class="titleCardTable">Tudo certo para o seu agendamento?</div>
  <div class="subtitleCardTable">Ao clicar em Finalizar agendamento, você está ciente do preparo</div>
  <br>



  <mat-card-content class="col-12">

    <label class="col-3"><strong>Exame</strong></label>
    <input class="col-8" matInput [(ngModel)]="objConfirmacao.exame">
    <hr>

    <label class="col-3"><strong>Paciente</strong></label>
    <input class="col-8" matInput [(ngModel)]="objConfirmacao.paciente">
    <hr>

    <label class="col-3"><strong>Data e Hora</strong></label>
    <input class="col-8" matInput [(ngModel)]="objConfirmacao.dataHora">
    <hr>

    <label class="col-3"><strong>Local</strong></label>
    <input class="col-8" matInput [(ngModel)]="objConfirmacao.local">
    <hr>

    <label class="col-3"><strong>Plano de Saúde</strong></label>
    <input class="col-8" matInput [(ngModel)]="objConfirmacao.planoSaude">
    <hr>

    <label class="col-3"><strong>Forma de Pagamento</strong></label>
    <div class="col-8" style="display: inline-block;">
      <input class="col-8" style="width: 50%" matInput [(ngModel)]="objConfirmacao.valor">
      <mat-form-field style="margin-bottom: -31px;margin-top: -20px; margin-left: -150px;" >
        <mat-select class="select" [(ngModel)]="objAddAgendamento.formaPagamento">
          <mat-option  value="Dinheiro">Dinheiro</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-button-toggle-group #buttonActive="matButtonToggleGroup" value="e" aria-label="Font Style">
        <mat-button-toggle value="c" (click)="setPagamento(false)">Não Pago</mat-button-toggle>
        <mat-button-toggle value="e" (click)="setPagamento(true)">Pago</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <hr>

    <label class="col-3"><strong>Médico Executante</strong></label>
    <input class="col-8" matInput [(ngModel)]="objConfirmacao.medico">
    <hr>

    <label class="col-3"><strong>Atendente</strong></label>
    <input class="col-8" matInput [(ngModel)]="objConfirmacao.atendente">
    <hr>

    <label class="col-3"><strong>Preparo e Observação</strong></label>
    <div class="div-obs">
      <p class="obs" *ngFor="let obs of objConfirmacao.listaObs"> - {{obs}} </p>
    </div>


  </mat-card-content>
  <mat-card-actions class="footer">
    <button mat-stroked-button class="button-alterar">Alterar</button>
    <button mat-raised-button class="button-finalizar" (click)="finalizar()">Finalizar Agendamento</button>
  </mat-card-actions>



</mat-card>